@font-face {
    font-family: 'DB Helvethaica X 55';
    src: url('../fonts/DBHelvethaicaX-55Regular.eot');
    src: url('../fonts/DBHelvethaicaX-55Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DBHelvethaicaX-55Regular.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-55Regular.woff') format('woff'),
        url('../fonts/DBHelvethaicaX-55Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}
.top-menu * {
    /*color: #303769 !important;*/
    font-family: 'DB Helvethaica X 55';
    font-size: 20pt;

}
.navbar {
    padding: 0rem 0rem;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;}
/*.active,
.nav-item:hover {
    background-color: #303769 !important;
    font-weight: bold;
}
.active a,
.nav-item:hover a {
    color: white !important;
}*/
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background-color: #1D2539 !important;
    font-weight: bold;
    color: white !important;
}
.navbar-light .navbar-nav #sec-menu .show > .nav-link,
.navbar-light .navbar-nav #sec-menu .active > .nav-link,
.navbar-light .navbar-nav #sec-menu .nav-link.show,
.navbar-light .navbar-nav #sec-menu .nav-link.active,
.navbar-light .navbar-nav #sec-menu .nav-link:hover, 
.navbar-light .navbar-nav #sec-menu .nav-link:focus {
    background-color: #ffffff !important;
    font-weight: bold;
    color: #303769 !important;
}
.navUnderL:hover {
    text-decoration: underline !important;
    font-weight: normal !important;
}
.noBgItem .active,
.noBgItem .nav-item:hover,
.noBgItem .active a,
.noBgItem .nav-item:hover a{
    background-color: transparent !important;
    font-weight: bold;
    color: #303769 !important;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    min-height: 100px;
    left: 50%;
}
.bg-graydark {
    background-color: #111111;
    color: #E8E8E8;
}
.mainTopHeader{
    position: absolute;
    font-family: 'DB Helvethaica X 55';
    font-size: 25vw;
   /* font-weight: bold;*/
    line-height: 70px;
    z-index: 99999;
    padding-top: 20pt;
}
.imgIndex01{
    margin-top: -50px;
}
.popSkills{
    font-family: 'DB Helvethaica X 55';
    color: #363636;
    margin-top: 20px;
    font-weight: bold;
}

.mediaHead{
    font-family: 'DB Helvethaica X 55';
    color: #5e5e5e;
    /* font-weight: bold; */
}
.media-body {
    padding-left: 15px !important;
}

@media screen and (min-width: 576px) { /* Small */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 110pt;
        /* font-weight: bold; */
        line-height: 120px;
        z-index: 99999;
    }
  }
  
@media screen and (min-width: 768px) { /* Medium */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 12vw;
        /* font-weight: bold; */
        line-height: 70px;
        z-index: 99999;
    }
  }
  @media screen and (min-width: 992px) { /* Large */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 93pt;
        /* font-weight: bold; */
        line-height: 100px;
        z-index: 99999;
    }
  }
  
  @media screen and (min-width: 1200px) { /* Extra Large */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 110pt;
        /* font-weight: bold; */
        line-height: 100px;
        z-index: 99999;
    }
  }
  
  a,
  a:hover {
      color: #5e5e5e;
      text-decoration: none;
  }

  .banner-hero{
      background-image: url("../images/banner01@2x.png");
      background-repeat: no-repeat;
      background-size: 51%;
      background-position: right;
      min-height: 500pt;
  }
  .banner-inside{
    background-image: url("../images/bn-colour-dark@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 260pt;
    color: #ffffff;

}
  .thumb-post img {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 399px;
    width: 100%;
    margin-bottom: 1rem;
  }
  .bggray{
      background-color: #e5e5e5;
  }
  .footerlogo{
      height: 47px;
      width: 21px;
  }
  .footerbg{
      padding: 30pt 0;
      background-color: #EFEFEF;
      font-size: 9pt;
  }
  .fbg-red{
    background-color: rgb(255, 0, 0);
    font-size: 11pt;
}
.fbg-yellow{
    background-color:#FAF17B;
    font-size: 11pt;
}
.fbg-white{
    background-color:rgb(247, 247, 247);
    font-size: 11pt;
}
.enjoy{
    height: 400px;
    background-image: url("../images/image6@2x.png");
    background-repeat: none;
    background-size: cover;
    background-position: center bottom;
}
.bg-blk{
    background-color: #000000;
}
.media img{
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    /* max-height: 399px; */
    width: 85%;
    margin-bottom: 1rem;
}
.card{
    border: 0;
}
.card-body{
    padding-left: .5px;
}
.img-thumbnail-rs {
    padding: 0;
    /* background-color: #fff; */
    border: 0px solid #dee2e6;
    border-radius: .25rem;
    max-width: 150px;
    height: auto;
}
