@font-face {
    font-family: 'DB Helvethaica X 55';
    src: url('../fonts/DBHelvethaicaX-55Regular.eot');
    src: url('../fonts/DBHelvethaicaX-55Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DBHelvethaicaX-55Regular.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-55Regular.woff') format('woff'),
        url('../fonts/DBHelvethaicaX-55Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.top-menu * {
    /*color: #303769 !important;*/
    font-family: 'DB Helvethaica X 55';
    font-size: 16pt;

}

/*.active,
.nav-item:hover {
    background-color: #303769 !important;
    font-weight: bold;
}
.active a,
.nav-item:hover a {
    color: white !important;
}*/
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background-color: #303769 !important;
    font-weight: bold;
    color: white !important;
}
.navbar-light .navbar-nav #sec-menu .show > .nav-link,
.navbar-light .navbar-nav #sec-menu .active > .nav-link,
.navbar-light .navbar-nav #sec-menu .nav-link.show,
.navbar-light .navbar-nav #sec-menu .nav-link.active,
.navbar-light .navbar-nav #sec-menu .nav-link:hover, 
.navbar-light .navbar-nav #sec-menu .nav-link:focus {
    background-color: #ffffff !important;
    font-weight: bold;
    color: #303769 !important;
}
.navUnderL:hover {
    text-decoration: underline !important;
    font-weight: normal !important;
}
.noBgItem .active,
.noBgItem .nav-item:hover,
.noBgItem .active a,
.noBgItem .nav-item:hover a{
    background-color: transparent !important;
    font-weight: bold;
    color: #303769 !important;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    min-height: 100px;
    left: 50%;
}
.bg-graydark {
    background-color: #363636;
    color: #E8E8E8;
}
.mainTopHeader{
    position: absolute;
    font-family: 'DB Helvethaica X 55';
    font-size: 25vw;
    font-weight: bold;
    line-height: 70px;
    z-index: 99999;
}
.imgIndex01{
    margin-top: -50px;
}
.popSkills{
    font-family: 'DB Helvethaica X 55';
    color: #363636;
    margin-top: 20px;
    font-weight: bold;
}

.mediaHead{
    font-family: 'DB Helvethaica X 55';
    color: #5e5e5e;
    font-weight: bold;
}
.media-body {
    padding-left: 15px !important;
}

@media screen and (min-width: 576px) { /* Small */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 110pt;
        font-weight: bold;
        line-height: 120px;
        z-index: 99999;
    }
  }
  
@media screen and (min-width: 768px) { /* Medium */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 12vw;
        font-weight: bold;
        line-height: 70px;
        z-index: 99999;
    }
  }
  @media screen and (min-width: 992px) { /* Large */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 93pt;
        font-weight: bold;
        line-height: 100px;
        z-index: 99999;
    }
  }
  
  @media screen and (min-width: 1200px) { /* Extra Large */
    /* For mobile phones: */
    .mainTopHeader{
        position: absolute;
        font-family: 'DB Helvethaica X 55';
        font-size: 110pt;
        font-weight: bold;
        line-height: 120px;
        z-index: 99999;
    }
  }
  
  a,
  a:hover {
      color: #5e5e5e;
      text-decoration: none;
  }